.header {
    grid-area: header;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
    background-color: #fff;
  }
  
  .menu-icon {
    display: none;
  }
  .icon {
    /* vertical-align: middle; */
    line-height: 1px;
    font-size: 20px;
   
  }
  .icon-img{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    
  }
 .span{
    margin: 10px;
 }
 .input-header{
  padding: 15px;
  width: 200px;
  border: none;
  background-color: #f3f6f9;
  margin-left: 10px;
  border-radius: 10px;
 }
.header-left{
  display: flex;
  justify-content: space-around;
  align-items: center;

 }